@font-face {
    font-family: 'Digital Display';
    src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2') format('woff2'),
        url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #1d1160;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.team-btn {
    flex: 1 1 calc(6.66% - 2px);
    max-width: calc(6.66% - 2px);
    font-size: 8px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    width: 800px;
    border: 8px solid #e56020;
    border-radius: 4px;
    background-color: #1d1160;
    box-shadow: 6px 6px 18px black;
}

.home,
.guest {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.team {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1160;
    color: #e56020;
    padding: 4px 8px;
    font-size: 42px;
    margin: 40px 40px 20px 40px;
    
}

.score {
    font-family: 'Digital Display', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(43, 43, 43);
    border-radius: 4px;
    color: red;
    padding: 18px 8px;
    font-size: 120px;
    width: 3ch;
    padding-bottom: -10px;
    margin: 0px 20px 20px 20px;
    text-shadow: 4px 4px 2px black;
    box-shadow: 8px 8px 4px black;
    border: 4px solid black;
}

.buttons {
    margin-bottom: 40px;
}

button {
    cursor: pointer;
    background-color: #e56020;
    color: #1d1160;
    border-radius: 15px;
    border: 2px solid #e56020;
    font-size: 24px;
    margin: 20px 10px;
    padding: 8px;
}

button:active {
    background-color: #de7f53;
    border: 2px solid #de7f53;
}

#reset {
    font-size: 18px;
    align-self: center;
    background-color: #1d1160;
    color: #e56020;
    border: none;
}

#reset:active {
    color: #de7f53;
}

.team-btn {
    flex: 1 1 calc(6% - 4px); 
    max-width: calc(6% - 4px);
    font-size: 10px;
    padding: 4px;
    border-radius: 4px;
    background-color: gray;
    color: white;
    border: 2px solid gray;
    margin: 4px;
    text-shadow: 1px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    letter-spacing: 0.3em;
}

#middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

#timer {
    font-family: 'Digital Display', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(43, 43, 43);
    border-radius: 4px;
    color: red;
    padding: 10px 8px;
    font-size: 90px;
    width: 5ch;
    padding-bottom: -10px;
    margin: 0px 20px 20px 20px;
    text-shadow: 4px 4px 2px black;
    box-shadow: 8px 8px 4px black;
    border: 4px solid black;
}