@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.main-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    width: 800px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: black;
}

.home,
.guest {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.team {
    font-family: 'Digital-7', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 4px 8px;
    font-size: 42px;
    margin: 40px 40px 20px 40px;
}

.score {
    font-family: 'Digital-7', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(43, 43, 43);
    border-radius: 4px;
    color: red;
    padding: 4px 8px;
    font-size: 120px;
    width: 3ch;
    padding-bottom: -10px;
    margin: 0px 20px 20px 20px;
}

.buttons {
    margin-bottom: 40px;
}

button {
    padding: 12px;
    cursor: pointer;
}

